* {
    font-family: 'Roboto', sans-serif;
}

.button {
    width: 172px;
    height: 46px; 
    font-size: 14px;
    border-radius: 4px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;  
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    font-weight: 400;
    text-transform: uppercase;
}

.button_big {
    width: 259px;
    height: 63px;
    font-size: 18px;
}

.secondaryButton {
    display: block;
    width: 113px;
    height: 24px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #000;
    border: none;
    color: #FFF;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
}

.secondaryButton_white {
    background-color: #fff;
    color: #000;
}

.title {
    color: #222;
    text-align: center;
    font-size: 38px;
    font-weight: 700; 
    text-transform: uppercase;
}

.title_white {
    color: #fff;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: #212121;
}

.header__navbar {
    height: 50px;
}

.header__list {
    height: 100%;
    padding: 0 70px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list-item {
    position: relative;
    list-style: none;
}

.header__list-item:not(:last-child):after {
    display: inline-block;
    position: absolute;
    right: -60px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    height: 31px;
    border-left: 1px dashed black;
    border-right: 1px dashed black;
}

.header__link {
    color: #FFF;
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.header__link:hover {
    font-size: 18px;
}

.subheader {
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.subheader__wrapper {
    height: 81px;
    padding: 0 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subheader__logo-img {
    width: 60px;
    margin-right: 5px;
    cursor: pointer;
}

.subheader__logo-text {
    display: inline-block;
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
}

.subheader__contact {
    display: flex;

}

.subheader__contact-wrapper {
    margin-right: 32px;
    color: #fff;
}

.subheader__contact-text {
    text-align: right;
    font-size: 12px;
    font-weight: 300;
}

.subheader__contact-phone {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.hero {
    height: calc(100vh - 50px);
    margin-top: 50px;
    padding: 148px 0 186px 0;
    background: url('../images/uber_bg.jpg') center/cover no-repeat;
    text-align: center;
}

.hero__title {
    color: #FFF;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
}

.hero__subtitle {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero__text {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 115px;
}

.reasons {
    padding: 18px 0 67px 0;
}

.reasons__title {
    margin-bottom: 16px;
}

.reasons__card {
    width: 512px;
    min-height: 150px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 26px;
}

.reasons__image-wrapper {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    margin-right: 25px;
    background-color: #1EACC7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reasons__wrapper {
    width: 371px;
}

.reasons__card-title {
    color: #1EACC7;
    font-size: 17px;
    font-weight: 400;
}

.reasons__card-text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
}