@media (max-width: 992px) {
    .button {
        &:hover {
            background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
        }
    }

    .secondaryButton {
        &:hover {
            transform: scale(1);
        }
    }

    .header {
        &__list {
            &-item {
                &:not(:last-child):after {
                    right: -11px;
                }
            }
        }

        &__link {
            font-size: 12px;
        }
    }

    .subheader {
        &__logo {
            &-text {
                display: none;
            }
        }
    }

    .hero {
        height: 100%;

        &__title {
            font-size: 53px;
        }
    }

    .title {
        font-size: 36px;
    }

    .reasons {
        padding-bottom: 30px;

        &__card {
            flex-direction: column;
            min-height: 300px;
        }

        &__image {
            &-wrapper {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }

    .application {
        &__card {
            width: 225px;
            height: 225px;

            &-title {
                font-size: 18px;
            }

            &-btn {
                &:hover {
                    &:before, &:after {
                        background-color: #1EACC7;
                    }
                }
            }
        }
    }

    .choice {
        &__img {
            width: 700px
        }
    }

    .worldwide__link {
        &:before, &:after {
            display: none;
        }
    }

    .footer {
        &__socials {
            width: 135px;
            left: 30px;

            &-icon {
                &:hover {
                    transform: translateY(0);
                }
            }
        }

        &__menu {
            &-item {
                &:before {
                    display: none;
                }
            }
        }

        &__submenu {
            width: 365px;

            &-item {
                &:before {
                    display: none;
                }
            }
        }

        &__apps {
            right: 49px;

            &-img {
                &:hover {
                    transform: translateY(0);
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .header {
        &__link {
            &:hover {
                font-size: 12px;
            }

            &:active {
                color: #fff;
            }
        }
    }
}